/**
 * pm.css
 * 业绩管理模块样式表
*/

/* Start : 搜索和部门 */
  /* Start : 搜索 */
  .ora-user-pm-sd-search,
  .ora-user-pm-sd-department {
    width: 240px;
    height: 40px;
    line-height: 40px;
    margin-top: 50px;
    margin-left: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .ora-user-pm-sd-search-input {
    width: 198px;
    height: 38px;
    border: 1px solid #c6ccd2;
    border-right: 0;
    border-radius: 0;
    padding: 0 10px;
  }
  .ora-user-pm-sd-search-input:focus {
    border-radius: 0;
    border-right: none;
  }
  .ora-user-pm-sd-search-btn {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #27b3a5;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }
  .ora-user-pm-sd-search-icon {
    position: absolute;
    top: 11px;
    right: 11px;
    display: inline-block;
    background: url("../images/pm/icon_search.png") no-repeat right center;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  /* End : 搜索 */

  /* Start : 搜索不到数据时, 显示提示文字 */
  .pagination-content p {
    font-size: 48px;
    color: #ddd;
  }
  /* End : 搜索不到数据时, 显示提示文字 */

  /* Start : 部门 */
  .ora-user-pm-sd-department {
    width: 1520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 46px;
    margin-top: 30px;
    margin-bottom: 30px;
    height:  40px;
    line-height: 40px;
  }
  .ora-user-pm-sd-department .department-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ora-user-pm-sd-department .department-item span {
    display: inline-block;
    padding: 0 20px;
    background: #fff;
    color: #919191;
  }
  .ora-user-pm-sd-department .department-item span.text-left {
    padding-left: 0;
    color: #313131;
  }
  .ora-user-pm-sd-department .department-item .department-text,
  .ora-user-pm-sd-department .department-item .department-rate {
    width: 100px;
  }
  .ora-user-pm-sd-department .department-item .department-text {
    background: #fca12f;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
  }
  .ora-user-pm-sd-department .department-item .department-rate {
    background: #fca12f;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
  }
  /* End : 部门 */
/* End : 搜索和部门 */

/* Start : 客户列表 */
.ora-user-pm-pagination table {
  width: 100%;
}
.ora-user-pm-pagination thead tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #27b3a5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  letter-spacing: 3px;
}
.ora-user-pm-pagination tbody tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  line-height: 50px;
  background: #fff;
  color: #616161;
}
.ora-user-pm-pagination tbody tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ora-user-pm-pagination table th,
.ora-user-pm-pagination tbody td {
  width: 110px;
  padding: 0 20px;
}
.ora-user-pm-pagination tbody tr .mentor-name {
  text-decoration: underline;
  cursor: pointer;
}
.ora-user-pm-pagination tbody td {
  position: relative;
  top: 0;
  left: 0;
}
.ora-user-pm-pagination thead th.plan,
.ora-user-pm-pagination tbody td.plan {
  width: 180px;
}
.ora-user-pm-pagination tbody td.plan span.edit-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/pm/icon_eidt_default.png") no-repeat center center;
  background-size: 100%;
  vertical-align:  middle;
  margin-top: -6px;
  margin-left: 6px;
}
.ora-user-pm-pagination tbody td.plan span.edit-icon:hover {
  background: url("../images/pm/icon_edit_active.png") no-repeat center center;
  cursor: pointer;
}
.ora-user-pm-pagination tbody td.plan input {
  width: 100px;
  height: 32px;
  padding:  0 10px;
  line-height: 32px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  color: #616161;
  font-family: 'Microsoft YaHei';
  position:  relative;
  top: 0;
  left: -12px;
}
.ora-user-pm-pagination tbody td.plan button {
  width: 40px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  background: #fd3232;
  cursor: pointer;
}
/* End : 客户列表 */
