/*
 * ora-management-customer.css
 * Customer Styles
*/

.ora-user-customer {
  width: 100%;
  height: 100%;
}
.ora-user-customer-serach_add {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  top: 0;
  left: 0;
}

/* Start : search area includes input box and submit button */
.ora-user-customer-search {
  position: relative;
  top: 0;
  left: 46px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ora-user-customer-search input {
  width: 198px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #c6ccd2;
  border-radius: 0;
  margin-right: 10px;
}
.ora-user-customer-search-button {
  width: 60px;
  height: 40px;
  background: #27b3a5;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
}
.ora-user-customer-search-button-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/management/icon_search.png") no-repeat center center;
  position: relative;
  top: 0;
  left: -10px;
}
.ora-user-customer-search-button:focus,
.ora-user-customer-search input:focus {
  outline: none;
  border-radius: 0;
  border: 1px solid #fca12f;
}
.ora-user-customer-search-icon {
  position: absolute;
  right: -172px;
  bottom: 0;
  display: inline-block;
  width: 203px;
  height: 77px;
  background: url("../images/management/icon_search_cartoon.png") no-repeat center center;
}
/* End : search area includes input box and submit button */

/* Start : button of add customers */
.ora-user-customer-add {
  width: 147px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 3px;
  background: #fca12f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 1420px;
}
.ora-user-customer-add-button {
  width: 100%;
  height: 100%;
  border: 0;
  background: #fca12f;
  color: #fff;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 6px;
}
/* End : button of add customers */

/* Start : pagination - customers list */
.pagination-control span {
  background: #fff;
  border: 1px solid #fff;
  color: #616161;
}
span.not-allowed {
  background: #d0d0d0;
  color: #fff;
  border: 1px solid #d0d0d0;
}
.pagination-jump span {
  background: transparent;
  border: 1px solid transparent;
}
.pagination-control {
  justify-content: flex-end;
  position: relative;
  top: 28px;
  right: 19px;
}
.ora-user-customer-pagination {
  width: 1520px;
  margin: 0;
  padding-left: 46px;
}
.ora-user-customer-pagination .pagination {
  padding: 0;
}
.pagination-controllers span.active {
  background: #27b3a5;
  border: 1px solid #27b3a5;
}
.pagination-jump input,
.pagination-jump button {
  border: 1px solid #fff;
}
.pagination-jump button {
  color: #616161;
}
.pagination-jump input {
  height: 29px;
}
.pagination-jump input:focus,
.pagination-jump button:focus {
  outline: none;
  border-radius: 3px;
}

.pagination-content-page table,
.pagination-content-page tbody,
.pagination-content-page tr {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.pagination-content-page tr:nth-child(even) {
  background: #fff;
}
.pagination-content-page tr:nth-child(odd) {
  background: #e8eff6;
}
.pagination-content-page tr:nth-child(1) {
  background: #f08484;
  color: #fff;
}
.pagination-content-page td.pagination-remark {
  padding: 0 10px;
}
.pagination-content-page td {
  position: relative;
  top: 0;
  left: 0;
}
.pagination-content-page th.pagination-remark,
.pagination-content-page td.pagination-remark {
  width: 100px;
  max-width: 100px;
  height: 50px;
  max-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pagination-content-page tr td.pagination-remark {
  cursor: pointer;
}
/* Start : ÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â½Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã‚Â¦Ãƒâ€¦Ã¢â‚¬â„¢ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚Â©ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢Ãƒâ€šÃ‚Â® */
.pagination-content-page td span.icon_btn_edit {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/management/icon_eidt_default.png") no-repeat center center;
  position: relative;
  top: 0;
  left: -5px;
  cursor: pointer;
}
.pagination-content-page td span.icon_btn_edit:hover {
  background: url("../images/management/icon_eidt_mouseleave.png") no-repeat center center;
  cursor: pointer;
}
.pagination-content-page td span.icon_btn_triangle {
  display: inline-block;
  width: 14px;
  height: 8px;
  background: url("../images/management/icon_pulldown_default.png") no-repeat center center;
  vertical-align: middle;
  position: relative;
  top: -6px;
  left: 5px;
  cursor: pointer;
}
/* End : ÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â½Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã‚Â¦Ãƒâ€¦Ã¢â‚¬â„¢ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚Â©ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢Ãƒâ€šÃ‚Â® */
/* Start : ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¤ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â³Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â¨Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â  */
.ora-remark {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.ora-remark-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}
.ora-remark-content {
  background: #fff;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  border-radius: 3px;
  box-shadow: 0 0 100px rgba(0, 0, 0, .3);
}
.ora-remark-content-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #3bccbe;
  font-size: 16px;
  color: #fff;
  letter-spacing: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ora-remark-content-text {
  display: inline-block;
  width: 360px;
  height: 200px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 5px;
  color: #616161;
  line-height: 24px;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-y: scroll;
}
/* ÃƒÆ’Ã‚Â¨ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡Ãƒâ€šÃ‚ÂªÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â®Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â¹ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¤ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â³Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â§Ãƒâ€¦Ã‚Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â»Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã‚Â Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â¡ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚Â */
.ora-remark-content-text::-webkit-scrollbar {  /* ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â»Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã‚Â Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â¡ÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¢Ãƒâ€šÃ‚Â´ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â½ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚Â */
  width: 8px;
  height: 1px;
}
.ora-remark-content-text::-webkit-scrollbar-thumb {  /* ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â»Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã‚Â Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â¡ÃƒÆ’Ã‚Â©ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡Ãƒâ€¦Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â©Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â§Ãƒâ€¦Ã‚Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â°Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬Å“Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚ÂÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬Â */
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}
.ora-remark-content-text::-webkit-scrollbar-track {  /* ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â»Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã‚Â Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â¡ÃƒÆ’Ã‚Â©ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡Ãƒâ€¦Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â©Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â§Ãƒâ€¦Ã‚Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â©Ãƒâ€šÃ‚ÂÃƒÂ¢Ã¢â€šÂ¬Ã…â€œ */
  border-radius: 10px;
}
.ora-remark-content-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: url("../images/management/icon-close.png") no-repeat center center;
  cursor: pointer;
}
/* End : ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¤ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¡ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â³Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â¨Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â¡ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â  */

/* Start : update customer's information */
.modal-box-title {
  font-size: 16px;
  color: #fff;
  letter-spacing: 3px;
  background: #3bccbe;
}
.modal-box-close {
  background: url("../images/management/icon-close.png") no-repeat center center;
  background-size: contain;
}

.customer-info-content {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  /* padding-bottom: 80px; */
}
.customer-info-content-group:first-child {
  padding-left: 32px;
}
.customer-info-content-group:nth-child(2) {
  padding-right: 32px;
}
.customer-info-content-group span {
  display: inline-block;
  width: 90px;
  padding-right: 46px;
  color: #313131;
  font-size: 14px;
}
.customer-info-content-group input {
  width: 200px;
  height: 34px;
  margin-top: 10px;
  border: 1px solid #d0d0d0;
  padding: 0 10px;
  color: #919191;
  background: #fff;
}
.customer-info-content-group input:focus {
  border-radius: 3px;
}
.customer-info-content-group-department_id {
  position: relative;
  top: 0;
  left: 0;
}
.customer-info-content-group-state {
  position: relative;
  top: 0;
  left: 0;
}
.customer-info-content-group-state input {
  cursor: pointer;
}
.customer-info-content-group-state .options {
  display: none;
  flex-direction: column;
  width: 178px;
  padding: 0 10px;
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 1;
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
}
.customer-info-content-group-state .options span {
  width: 178px;
  height: 34px;
  line-height: 34px;
  color: #919191;
  cursor: pointer;
}
.customer-info-content-group-remark {
  position: relative;
  top: 10px;
  left: 0;
}
.customer-info-content-group-remark textarea {
  width: 200px;
  height: 260px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  line-height: 20px;
  color: #919191;
  resize: none;
  overflow-y: scroll;
  background: #fff;
}
.customer-info-content-group-remark textarea::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}
.customer-info-content-group-remark textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}
.customer-info-content-group-remark textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
  background: #fff;
}

.customer-info-content-group-button {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-info-content-group-button .add,
.customer-info-content-group-button .submit {
  width: 80px;
  height: 40px;
  border: 1px solid #91cc67;
  background: #91cc67;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  border-radius: 10px;
  cursor: pointer;
}
.customer-info-content-group-tips {
  position: absolute;
  top: 0;
  left: 0;
}
.customer-info-content-group-tips .tips-checkname,
.customer-info-content-group-tips .tips-checknumber {
  display: none;
  width: 60px;
  font-size: 12px;
  color: #fd3232;
  position: absolute;
  left: 380px;
}
.customer-info-content-group-tips .tips-checkname {
  top: 370px;
}
.customer-info-content-group-tips .tips-checknumber {
  top: 150px;
}
  /* End : update customer's information */

/* Start : user's file */
.file_name {
  background: url("../images/management/icon_file_default.png") no-repeat 112px center;
  background-size: 18px 22px;
}
.file_name_text {
  display: inline-block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.upload_person {
  padding-left: 32px;
}
.upload_time {
  padding-left: 64px;
}
td.icons {
  position: relative;
  top: 0;
  left: 14px;
}
td.icons span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
td.icons .icon_upload.hidden {
  display: none;
}
td.icons .icon_upload {
  width: 22px;
  height: 22px;
  background: url("../images/management/icon_upload_default.png") no-repeat center center;
  background-size: 100%;
  top: 13px;
}
td.icons .icon_upload:hover {
  background: url("../images/management/icon_upload_active.png") no-repeat center center;
  cursor: pointer;
}
td.icons .icon_download {
  width: 22px;
  height: 22px;
  background: url("../images/management/icon_download_default.png") no-repeat center center;
  background-size: 100%;
  top: 13px;
  left: 32px;
}
td.icons .icon_download:hover {
  background: url("../images/management/icon_download_active.png") no-repeat center center;
  cursor: pointer;
}
td.icons .icon_delete {
  width: 20px;
  height: 22px;
  background: url("../images/management/icon_delete_default.png") no-repeat center center;
  background-size: 100%;
  top: 13px;
  left: 64px;
}
td.icons .icon_delete:hover {
  background: url("../images/management/icon_delete_ mouseleave.png") no-repeat center center;
  cursor: pointer;
}
/* End : user's file */
/* Start : upload file */
.upload_file {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 110px;
}
.upload_file .choose_file {
  display: inline-block;
  width: 100px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #616161;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
}
.upload_file input.file {
  font-size: 14px;
}
.upload_file .file:focus {
  border: none;
}
.upload_file button {
  width: 22px;
  height: 22px;
  background: url("../images/management/icon_upload_default.png") no-repeat center center;
  background-size: 100%;
  border: none;
  margin-left: 20px;
}
.upload_file button:hover {
  background: url("../images/management/icon_upload_active.png") no-repeat center center;
  cursor: pointer;
}
/* End : upload file */

/* Start : åˆ é™¤æ–‡ä»¶è­¦å‘Šæ¡† */
.delete_file_box {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}
.delete_file_box .modal-box-title {
  background: #fd3232;
}
.delete_file_box .modal-box-text {
  width: 280px;
  height: 75px;
  padding: 0 10px;
  font-size: 14px;
  color: #fd3232;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete_file_box .modal-box-btn {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete_file_box .modal-box-btn button {
  width: 70px;
  height: 30px;
  border-radius: 3px;
  margin: 0 15px;
  color: #fff;
  letter-spacing: 3px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}
.delete_file_box .modal-box-btn button:focus {
  border-radius: 3px;
}
.delete_file_box .modal-box-btn .confirm {
  background: #fd3232;
}
.delete_file_box .modal-box-btn .cancel {
  background: yellowgreen;
}
/* End : åˆ é™¤æ–‡ä»¶è­¦å‘Šæ¡† */
/* End : pagination - customers list */


/* NEW */
/* Start : å®¢æˆ·å¤‡æ³¨ */
.ora-user-customer-remark,
.ora-user-customer-update,
.ora-user-customer-delete {
  top: -60px;
  left: -260px;
}
.modal-box-content-text {
  display: inline-block;
  width: 370px;
  height: 190px;
  line-height: 20px;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
  top: 5px;
  left: 0;
  overflow-y: scroll;
  word-wrap: break-word;
}
.modal-box-content-text::-webkit-scrollbar {  /* æ»šåŠ¨æ¡æ•´ä½“æ ·å¼ */
  width: 8px;
  height: 1px;
}
.modal-box-content-text::-webkit-scrollbar-thumb {  /* æ»šåŠ¨æ¡é‡Œé¢çš„å°æ–¹å— */
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}
.modal-box-content-text::-webkit-scrollbar-track {  /* æ»šåŠ¨æ¡é‡Œé¢çš„è½¨é“ */
  border-radius: 10px;
}
/* End : å®¢æˆ·å¤‡æ³¨ */

.ora-user-customer-delete .modal-box-title {
  background: #fd3232;
  color: #fff;
}
.customer-delete-content-btn {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.customer-delete-content-text {
  width: 100%;
  height: 70px;
  color: #fd3232;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-delete-content-text p {
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.customer-delete-content-btn button {
  width: 60px;
  height: 30px;
  margin: 0 15px;
  border: none;
  background: #fff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 3px;
}
.customer-delete-content-btn .confirm {
  background: #fd3232;
}
.customer-delete-content-btn .cancel {
  background: yellowgreen;
}

/* Start : ä¿®æ”¹å®¢æˆ·èµ„æ–™ */
/* End : ä¿®æ”¹å®¢æˆ·èµ„æ–™ */

/* Start : 提示信息 */
.ora-customer-tips {
  width: 1520px;
  position: absolute;
  top: 163px;
  left: 304px;
}
.ora-customer-tips .tip {
  display: inline-block;
  width: 100%;
  color: #fd3232;
  font-size:18px;
}
/* End : 提示信息 */

/* Start : 添加或更新用户分部时的提示信息 */
.customer-info-content-group-department_id {
  position: relative;
  top: 0;
  left: 0;
}
.customer-info-content-group-department_id .department_tip {
  width: 198px;
  position: absolute;
  top: 44px;
  left: 140px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
}
span.department_tip_title,
span.department_tip_option {
  display: inline-block;
  width: 100%;
  line-height: 24px;
  font-size: 12px;
  padding: 0 10px;
  color: #919191;
}
/* End : 添加或更新用户分部时的提示信息 */

/* Start : 选择冻结时间的模态框 */
.pause-modal {
  top: -60px;
  left: -260px;
}
.pause-modal .customer-pause-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 120px;
}
.pause-modal .customer-pause-content input {
  width: 80%;
  height: 32px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  padding: 0 10px;
}
.pause-modal .customer-pause-content .pause-confirm {
  font-size: 14px;
  color: #fff;
  background: #91cc67;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/* End : 选择冻结时间的模态框 */
