/*
 * Start : permission stylesheets
 * 权限管理样式表
*/

/**
 * author    : smpower
 * github    : http://github.com/smpower/
 * email     : bzsjxhywrf@outlook.com
 * time      : 2017.12.11
 * last time : 2017.12.11
 * version   : 1.0.0
*/


/* Start : title of permission */
.ora-user-permission-title {
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding-top: 5px;
}
.ora-user-permission-title p {
  width: 1520px;
  padding-left: 46px;
  font-size: 20px;
  font-weight: bold;
  color: #313131;
  letter-spacing: 3px;
}
/* End : title of permission */


/* Start : tabs */
.ora-user-permission-tab {
  width: 1520px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #03bca9;  /* 换成背景图 */
  margin-left: 46px;
}
  /* Start : button of tab */
  .ora-user-permission-tab-btn {
    width: 1520px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .ora-user-permission-tab-btn span {
    display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    letter-spacing: 3px;
    border-radius: 0;
    font-size: 20px;
    transition: all .3s;
    cursor: pointer;
  }
  .ora-user-permission-tab-btn span:hover {
    background: #338f86;
    border: none;
    border-radius: 0;
  }
  .ora-user-permission-tab-btn span.active {
    background: #338f86;
  }
  /* End : button of tab */

  /* Start : search of tab */
  .ora-user-permission-tab-search {
    width: 318px;
    height: 30px;
    line-height: 30px;
    margin-right: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
  }
  .ora-user-permission-tab-search input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 15px;
    padding: 0 16px;
    color: #b1b1b1;
  }
  .ora-user-permission-tab-search-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../images/permission/icon_search.png") no-repeat center center;
    background-size: 100%;
    position: absolute;
    top: 6px;
    right: 16px;
    cursor: pointer;
  }
  /* End : search of tab */
/* End : tabs */


/* Start : pagination for permission */
.pagination-control span {
  background: #fff;
  border: 1px solid #fff;
  color: #616161;
}
span.not-allowed {
  background: #d0d0d0;
  color: #fff;
  border: 1px solid #d0d0d0;
}
.pagination-jump span {
  background: transparent;
  border: 1px solid transparent;
}
.pagination-control {
  justify-content: flex-end;
  position: relative;
  top: 28px;
  right: 19px;
}
.ora-user-permission-pagination {
  width: 1520px;
  margin: 0;
  padding-left: 46px;
}
.ora-user-permission-pagination .pagination {
  padding: 0;
}
.pagination-controllers span.active {
  background: #27b3a5;
  border: 1px solid #27b3a5;
}
.pagination-jump input,
.pagination-jump button {
  border: 1px solid #fff;
}
.pagination-jump button {
  color: #616161;
}
.pagination-jump input {
  height: 29px;
}
.pagination-jump input:focus,
.pagination-jump button:focus {
  outline: none;
  border-radius: 3px;
}

.pagination-content-page table,
.pagination-content-page tbody,
.pagination-content-page tr {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.pagination-content-page tr {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  font-size: 14px;
  background: #fff;
  color: #616161;
  letter-spacing: 3px;
  cursor: default;
}
.pagination-content-page tr:nth-child(1) {
  font-size: 16px;
  color: #03bca9;
  letter-spacing: 3px;
}
.pagination-content-page th,
.pagination-content-page td {
  border: 1px solid #f2f3f6;
}
.pagination-content-page td.name {
  width: 150px;
}
.pagination-content-page td.position {
  width: 190px;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}
.pagination-content-page td.position span {
  display: inline-block;
  width: 100%;
}
.pagination-content-page td.position .position-icon {
  width: 18px;
  height: 9px;
  background: url("../images/permission/icon_pull.png") no-repeat center center;
  background-size: 100%;
  position: absolute;
  top: 21px;
  right: 12px;
}
.pagination-content-page td.position .position-select {
  display: none;  /* 展开收起 */
  opacity: 0;     /* 展开收起 */
  height: 0;      /* 展开收起 */
  width: 188px;
  border: 1px solid #b1b1b1;
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
  z-index: 1;
}
.pagination-content-page td.position .position-select span {
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  background: #edeef2;
  border-radius: 0;
  transition: all .3s;
}
.pagination-content-page td.position .position-select span:hover {
  background: #fff;
  border-radius: 0;
}
.pagination-content-page td.permission .permission-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/permission/icon_check_default.png") no-repeat center center;
  background-size: 100%;
}
.pagination-content-page td.submit {
  cursor: pointer;
}
/* End : pagination for permission */
