  /*
 * ora-management.css
 * 用户管理样式表
*/

body {
  width: 100vw;
  height: 100vh;
  background: #eef2f5;
  position: relative;
  top: 0;
  left: 0;
}

/* Start : header */
.ora-header {
  width: 100%;
  height: 60px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

  .ora-header-position span,
  .ora-header-superior span {
    display: none;
    cursor: default;
    color: #616161;
    height: 34px;
    line-height: 34px;
    padding: 0 30px;
    margin-left: 22px;
    background: #e1e1e1;
    border-radius: 4px;
  }
  .ora-header-position span.active,
  .ora-header-superior span.active {
    display: inline-block;
  }

  /* Start : LOGO */
  .ora-header-logo {
    width: 160px;
    height: 38px;
    padding-left: 60px;
    padding-right: 82px;
  }
  /* End : LOGO */

  /* Start : 职位 */
  /* End : 职位 */

  /* Start : 上级领导 */
  /* End : 上级领导 */

  /* Start : 个人资料按钮 */
  .ora-header-info {
    position: absolute;
    top: 18px;
    right: 94px;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    cursor: pointer;
    /* 屏蔽用户双击选中文字 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .ora-header-info-name {
    padding: 0 5px;
    color: #616161;
    font-size: 14px;
  }
  .ora-header-info span.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
  }
  span.ora-header-info-avatar {
    background: url("../images/header/icon-avatar.png") no-repeat center center;
    background-size: 100%;
  }
  span.ora-header-info-triangle.icon {
    width: 16px;
    height: 8px;
    background: url("../images/header/icon-triangle.png") no-repeat center center;
    background-size: 100%;
    vertical-align: middle;
    transition: all .3s;
  }
  /* End : 个人资料按钮 */

  /* Start : 个人资料菜单 */
  .ora-header-menu {
    width: 0;
    height: 0;
    position: absolute;
    top: 60px;
    right: 94px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    opacity: 0;
  }
  .ora-header-menu span,
  .ora-header-menu a {
    font-size: 14px;
    color: #616161;
    padding-top: 6px;
    margin-bottom: 6px;
    margin-right: 10px;
    white-space: nowrap;
    cursor: pointer;
  }
  /* End : 个人资料菜单 */
/* End : header */

/* Start : nav */
.ora-nav {
  width: 260px;
  height: 100%;
  padding-top: 60px;
  background: #2d3e50;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.ora-nav-mentor-title,
.ora-nav-user-title,
.ora-nav-permission-title,
.ora-nav-performance-title,
.ora-nav-chart-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  background: #225486;
  margin-top: 50px;
  transition: all .3s;
}
.ora-nav-user-title,
.ora-nav-permission-title,
.ora-nav-performance-title,
.ora-nav-chart-title {
  margin-top: 30px;
}
.ora-nav-mentor-title-text,
.ora-nav-user-title-text,
.ora-nav-permission-title-text,
.ora-nav-performance-title-text,
.ora-nav-chart-title-text {
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
}
.ora-nav-mentor-title-avator,
.ora-nav-user-title-avator,
.ora-nav-permission-title-avator,
.ora-nav-performance-title-avator,
.ora-nav-chart-title-avator {
  display: inline-block;
  width: 17px;
  height: 18px;
  margin-left: 42px;
  margin-right: 5px;
  background-size: 100%;
  vertical-align: middle;
  position: relative;
  top: -2px;
  left: 0;
}
  /* Start : 导师管理 */
  .ora-nav-mentor-members {
    overflow: hidden;
    opacity: 0;
  }
  .ora-nav-mentor-title {
    position: relative;
    top: 0;
    left: 0;
  }
  .ora-nav-mentor-title span {
    display: inline-block;
  }
  .ora-nav-mentor-title-avator {
    background: url("../images/management/icon-mentor.png") no-repeat center center;
  }
  .ora-nav-mentor-title-icon {
    width: 16px;
    height: 16px;
    background: url("../images/management/icon-plus.png") no-repeat center center;
    background-size: 100%;
    vertical-align: middle;
    position: absolute;
    top: 18px;
    right: 10px;
  }
  .ora-nav-mentor-members span {
    display: inline-block;
    width: 100%;
  }
    /* Start : level_01 */
    span.ora-nav-mentor-members-level_01 {
      width: 175px;
      line-height: 40px;
      padding-left: 85px;
      cursor: pointer;
      font-size: 16px;
      letter-spacing: 3px;
      color: #fff;
      background: #3f6489;
      position: relative;
      top: 0;
      left: 0;
      z-index: 3;
    }
    /* End : level_01 */
    /* Start : level_02 */
    .ora-nav-mentor-members-level_01-wrap {
      overflow: hidden;
    }
    span.ora-nav-mentor-members-level_02 {
      width: 165px;
      line-height: 40px;
      padding-left: 95px;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 3px;
      color: #fff;
      background: #516a85;
      position: relative;
      top: 0;
      left: 0;
      z-index: 4;
    }
    /* End : level_02 */
    /* Start : level_03 */
    .ora-nav-mentor-members-group {
      max-height: 210px;
      overflow-y: scroll;
      z-index: 5;
    }
    /* 自定义备注的滚动条样式 */
    .ora-nav-mentor-members-group::-webkit-scrollbar {  /* 滚动条整体样式 */
      width: 8px;
      height: 1px;
    }
    .ora-nav-mentor-members-group::-webkit-scrollbar-thumb {  /* 滚动条里面的小方块 */
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: #d7d7d7;
    }
    .ora-nav-mentor-members-group::-webkit-scrollbar-track {  /* 滚动条里面的轨道 */
      background: rgba(81, 106, 133, .7);
    }
    span.ora-nav-mentor-members-level_03 {
      width: 147px;
      line-height: 30px;
      padding-left: 105px;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 3px;
      color: #fff;
      background: rgba(81, 106, 133, .7);
    }
    /* End : level_03 */
    span.ora-nav-mentor-members-level_01 .icon-plus,
    span.ora-nav-mentor-members-level_02 .icon-plus {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../images/management/icon-plus.png") no-repeat center center;
      background-size: 100%;
      position: absolute;
      top: 12px;
      right: 10px;
    }
    span.ora-nav-mentor-members-level_01 .icon-plus.hidden,
    span.ora-nav-mentor-members-level_02 .icon-plus.hidden {
      display: none;
    }
  /* End : 导师管理 */

  /* Start : 用户管理 */
  .ora-nav-user-title-avator {
    background: url("../images/management/icon-user.png") no-repeat center center;
  }
  /* End : 用户管理 */

  /* Start : 权限管理 */
  .ora-nav-permission-title-avator {
    background: url("../images/management/icon-sq.png") no-repeat center center;
  }
  /* End : 权限管理 */

  /* Start : 业绩管理 */
  .ora-nav-performance-title-avator {
    background: url("../images/management/icon_performance.png") no-repeat center center;
  }
  /* End : 业绩管理 */
  /* Start : 业绩查看 */
  .ora-nav-chart-title-avator {
    background: url("../images/management/icon-chart.png") no-repeat center center;
  }
  /* End : 业绩查看 */
/* End : nav */

/* Start : 页面主体 */
#ora-user {
  position: absolute;
  top: 60px;
  left: 260px;
  z-index: 1;
  background: transparent;
}
/* End : 页面主体 */

/* Start : 模态框 */
.ora-personinfo {
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ora-personinfo-modal {
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.ora-personinfo-content {
  display: none;
  width: 920px;
  height: 750px;
  background: #fff;
  opacity: 0;
  position: relative;
  top: -100px;
  left: 0;
  z-index: 4;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
  /* Start : 个人资料详细信息 */
  .ora-personinfo-content-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    letter-spacing: 5px;
    color: #fff;
    background: #f08484;
  }
  .ora-personinfo-content-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .ora-personinfo-content-main-item {
    padding-top: 62px;
  }
  .ora-personinfo-content-main-item:first-child {
    padding-left: 35px;
  }
  .ora-personinfo-content-main-item:last-child {
    padding-right: 35px;
  }
  .ora-personinfo-content-main-item .ora-personinfo-content-main-item-title {
    width: 50%;
    position: absolute;
    top: 50px;
    left: 0;
    height: 62px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .ora-personinfo-content-main-item:last-child .ora-personinfo-content-main-item-title {
    left: 460px;
  }
  .ora-personinfo-content-main-item div {
    height: 46px;
    line-height: 46px;
  }
  .ora-personinfo-content-main-item div span {
    font-size: 14px;
    color: #919191;
    letter-spacing: 1px;
  }
  .ora-personinfo-content-main-item .ora-personinfo-content-main-item-title span {
    color: #313131;
  }
  .ora-personinfo-content-main-item div span:first-child {
    display: inline-block;
    width: 100px;
  }
  .ora-personinfo-content-main-item div span:last-child {
    display: inline-block;
    width: 300px;
    padding: 0 10px;
  }
  .ora-personinfo-content-main-item .item input {
    width: 230px;
    height: 28px;
    line-height: 46px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    margin-right: 68px;
    padding: 0 10px;
  }
  .ora-personinfo-content-main-item .item textarea {
    width: 229px;
    height: 120px;
    resize: none;
    margin-top: 10px;
    margin-left: 5px;
    border: 1px solid #d0d0d0;
    padding: 5px 10px;
    border-radius: 3px;
  }
  .ora-personinfo-content-main-item-sex input,
  .ora-personinfo-content-main-item-question input {
    cursor: pointer;
  }
  textarea::-webkit-scrollbar-track {  /* 滚动条里面的轨道 */
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #ededed;
  }
  .ora-personinfo-content-main-item-remark {
    margin-bottom: 97px;
    height: 120px;
  }
  .ora-personinfo-content-main-item-remark span:first-child {
    float: left;
  }
  .ora-personinfo-content-main-item-remark span:last-child {
    display: inline-block;
    height: 120px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    float: left;
    padding: 0 10px;
    margin-top: 14px;
  }

  .ora-personinfo-content-btn {
    padding-top: 20px;
  }
  .ora-personinfo-content-btn button {
    width: 80px;
    height: 40px;
    margin: 0 23px;
    background: #91cc67;
    opacity: .9;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s;
  }
  .ora-personinfo-content-btn button:hover {
    background: #91ba67;
    opacity: 1;
  }
  .ora-personinfo-content-btn .modal-btn-back {
    background: #f53333;
  }
  .ora-personinfo-content-btn .modal-btn-back:hover {
    background: #d51133;
  }
  .ora-personinfo-content-btn .icon-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 12.5px;
    right: 32px;
    background: url("../images/management/icon-close.png") no-repeat center center;
    background-size: 100%;
    border-radius: 50%;
    cursor: pointer;
  }
  /* End : 个人资料详细信息 */

  /* Start : 提示信息 */
  .ora-personinfo-content-tips-sex {  /* 性别下拉菜单 */
    width: 228px;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 196px;
    left: 140px;
  }
  .ora-personinfo-content-tips-sex span {  /* 性别下拉菜单 */
    display: inline-block;
    width: 208px;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    transition: all .3s;
  }
  .ora-personinfo-content-tips-sex span:hover {  /* 鼠标悬浮在性别选项上时的效果 */
    background: #f0f0f0;
    border-radius: 0;
  }
  .ora-personinfo-content-tips-sex span:hover:first-child {  /* 鼠标悬浮在性别选项上时的效果 */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .ora-personinfo-content-tips-sex span:hover:last-child {  /* 鼠标悬浮在性别选项上时的效果 */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .ora-personinfo-content-tips-questions {  /* 密保问题下拉菜单 */
    width: 228px;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    bottom: 100px;
    left: 140px;
  }
  .ora-personinfo-content-tips-questions span {  /* 密保问题下拉菜单选项 */
    width: 208px;
    font-size: 13px;
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    cursor: pointer;
    transition: all .3s;
  }
  .ora-personinfo-content-tips-questions span:hover {  /* 鼠标悬浮在密保答案选项上时的效果 */
    background: #f0f0f0;
    border-radius: 0;
  }
  .ora-personinfo-content-tips-questions span:hover:first-child {  /* 鼠标悬浮在密保答案选项上时的效果 */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .ora-personinfo-content-tips-questions span:hover:last-child {  /* 鼠标悬浮在密保答案选项上时的效果 */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  /* End : 提示信息 */
/* End : 模态框 */
