/**
 * ora-management-performance.css
 * 个人业绩样式表
*/

body {
  cursor: default;
}

/* Start : 个人业绩 */
.ora-user-performance-detail {
  width: 1520px;
  height: 140px;
  line-height: 140px;
  margin-left: 46px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ora-user-performance-detail span {
  display: inline-block;
  height: 140px;
  line-height: 140px;
  border-radius: 0;
  font-size: 28px;
  color: #91cc67;
}
.performance-detail-item01 {
  width: 162px;
  background: url("../images/performance/performance_bg01.png") no-repeat center center;
  background-size: 100%;
}
.performance-detail-item02 {
  width: 300px;
  background: url("../images/performance/performance_bg02.png") no-repeat center center;
  background-size: 100%;
}
.performance-detail-item03 {
  width: 300px;
  background: url("../images/performance/performance_bg03.png") no-repeat center center;
  background-size: 100%;
}
.performance-detail-item04 {
  width: 300px;
  background: url("../images/performance/performance_bg04.png") no-repeat center center;
  background-size: 100%;
}
.performance-detail-item05 {
  width: 300px;
  background: url("../images/performance/performance_bg05.png") no-repeat center center;
  background-size: 100%;
}
.performance-detail-item06 {
  width: 109px;
  background: url("../images/performance/performance_bg06.png") no-repeat center center;
  background-size: 100%;
}
/* End : 个人业绩 */

/* Start : 搜索和添加业绩 */
.ora-user-performance-search_add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End : 搜索和添加业绩 */

/* Start : 搜索 */
.ora-user-performance-search {
  width: 240px;
  height: 40px;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 22px;
  margin-left: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.ora-user-performance-search-input {
  width: 198px;
  height: 38px;
  border: 1px solid #c6ccd2;
  border-right: 0;
  border-radius: 0;
  padding: 0 10px;
}
.ora-user-performance-search-input:focus {
  border-radius: 0;
  border-right: none;
}
.ora-user-performance-search-btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #27b3a5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.ora-user-performance-search-icon {
  position: absolute;
  top: 11px;
  right: 11px;
  display: inline-block;
  background: url("../images/performance/icon_search.png") no-repeat right center;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
/* End : 搜索 */

/* Start : 添加业绩 */
.ora-user-performance-add {
  width: 148px;
  height: 40px;
  line-height: 40px;
  background: #fca12f;
  border-radius: 3px;
}
.ora-user-performance-add button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  letter-spacing: 3px;
  cursor: pointer;
}
/* End : 添加业绩 */

/* Start : 客户列表 */
.ora-user-performance-pagination {
  width: 1520px;
  margin-left: 46px;
  height: 50px;
  line-height: 50px;
  /* background: #27b3a5; */
}
.ora-user-performance-pagination .pagination {
  padding-left: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.ora-user-performance-pagination table,
.ora-user-performance-pagination tbody,
.ora-user-performance-pagination tr {
  width: 100%;
  line-height: 50px;
  color: #fff;
}
.ora-user-performance-pagination tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
}
.ora-user-performance-pagination tr:nth-child(1) {
  background: #27b3a5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ora-user-performance-pagination th,
.ora-user-performance-pagination td {
  width: 80px;
  padding: 0 18px;
}
.ora-user-performance-pagination td {
  color: #616161;
}
.ora-user-performance-pagination th.overtime,
.ora-user-performance-pagination th.ptime,
.ora-user-performance-pagination td.overtime,
.ora-user-performance-pagination td.ptime {
  width: 110px;
}
.ora-user-performance-pagination th.remark,
.ora-user-performance-pagination td.remark {
  width: 820px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.pagination-control span {
  background: #fff;
  border: 1px solid #fff;
  color: #616161;
  height: 21px;
  line-height: 21px;
}
span.not-allowed {
  background: #d0d0d0;
  color: #fff;
  border: 1px solid #d0d0d0;
}
.pagination-jump span {
  background: transparent;
  border: 1px solid transparent;
}
.pagination-control {
  justify-content: flex-end;
  position: relative;
  top: 28px;
  right: 20px;
}
.pagination-controllers span.active {
  background: #27b3a5;
  border: 1px solid #27b3a5;
}
.pagination-jump input,
.pagination-jump button {
  border: 1px solid #fff;
}
.pagination-jump button {
  color: #616161;
}
.pagination-jump input {
  height: 29px;
}
.pagination-jump input:focus,
.pagination-jump button:focus {
  outline: none;
  border-radius: 3px;
}

.pagination-content .edit {
  background: url("../images/performance/icon_delete_default.png") no-repeat center center;
  background-size: 20px 22px;
  height: 50px;
  line-height: 50px;
}
.pagination-content .edit:hover {
  background: url("../images/performance/icon_delete_active.png") no-repeat center center;
  cursor: pointer;
}
/* End : 客户列表 */

/* Start : 添加业绩模态框 */
.ora-user-performance-add_performance {
  position: absolute;
  top: -60px;
  left: -260px;
}
.ora-user-performance-add_performance .modal-box-title {
  background: #3bccbe;
  color: #fff;
  font-size: 16px;
}
.modal-box-close {
  background: url("../images/management/icon-close.png") no-repeat center center;
  background-size: 22px 22px;
}
.add_performance-content {
  padding-left: 45px;
  margin-top: 20px;
}
.add_performance-content div {
  margin-top: 8px;
  margin-bottom: 8px;
}
.add_performance-content span {
  display: inline-block;
  width: 65px;
  padding-right: 25px;
  font-size: 14px;
  color: #313131;
}
.add_performance-content input {
  padding: 0 10px;
  width: 210px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  color: #919191;
}
.add_performance-content input:focus {
  border-radius: 3px;
}
.add_performance-content-remark {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.add_performance-content textarea {
  resize: none;
  width: 315px;
  height: 120px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 20px;
  color: #919191;
}
.add_performance-content textarea:focus {
  border-radius: 3px;
}
.add_performance-content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 20px;
  left: 0;
}
.add_performance-content-btn button {
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #91cc67;
  border-radius: 6px;
  cursor: pointer;
}
.add_performance-content-tips {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.add_performance-content-tips-checkname {
  margin: 0;
}
.add_performance-content-tips-checkname span {
  display: none;
}
.add_performance-content-tips-checkname span.active {
  display: inline-block;
  width: 100px;
  padding: 0;
  font-size: 14px;
  color: #fd3232;
  position: absolute;
  top: 75px;
  right: 42px;
}
/* End : 添加业绩模态框 */

/* Start : 客户详细备注模态框 */
.ora-user-performance-remark {
  position: absolute;
  top: -60px;
  left: -260px;
}
.modal-box-title {
  background: #27b3a5;
  color: #fff;
}
.modal-box-close {
  background: url("../images/management/icon-close.png") no-repeat center center;
  background-size: 22px 22px;
}
.modal-box-content-text {
  display: inline-block;
  width: 370px;
  height: 190px;
  line-height: 20px;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
  top: 5px;
  left: 0;
  overflow-y: scroll;
  word-wrap: break-word;
}
.modal-box-content-text::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}
.modal-box-content-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}
.modal-box-content-text::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* End : 客户详细备注模态框 */

/* Start : 提示信息 */
.ora-user-performance-tips {
  width: 1520px;
  height: 50px;
  line-height: 50px;
  margin-left: 46px;
  margin-top: 50px;
}
.ora-user-performance-tips-deleted,
.ora-user-performance-tips-searchnone {
  font-size: 36px;
  color: #d1d1d1;
  letter-spacing: 5px;
}
.ora-user-performance-tips-searchnone {
  display: none;
}
/* End : 提示信息 */
